<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<body >
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card-2">
        <a href="/" class="w3-bar-item w3-button"><b>ManageIT</b></a>
        <meta charset="UTF-8">
        <div class="w3-right w3-hide-small">
            <a href="/about" class="w3-bar-item w3-button">About</a>
            <a href="/contact" class="w3-bar-item w3-button">Contact</a>
            <a href="profilePage.html" class="w3-bar-item w3-button">Profile</a>
            <a href="carousel.html" class="w3-bar-item w3-button">Carousel Example</a>
        </div>
        <!-- <link rel="stylesheet" type="text/css" href="customcssStyle.css"> -->
    </div>
</div>

<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;max-height: 800px;" id="home">
    <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>ManageIT</b></span> </h1>
    </div>
</header>

<div class="w3-content w3-padding" style="max-width:1564px">


    <div class="w3-container w3-padding-32" id="intro">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><h1>Basic Contact Information</h1></h3>
    </div>
</div>

</body>
</html>
